body { 
  font: 18px/23px "Cantarell", sans-serif;
  color: #ffffff;
}
a {
  color: #ffffff;
}
.navbar {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 60px;
  z-index: 9999;
  position: fixed;
}

  .inner {
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  .navbar a {
  display: inline-block;
  border: 1px solid #fff;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  padding: 2px 15px;
  text-decoration: none;
  margin-top: 5px;
}
  .button {
  display: inline-block;
  padding: 6px 10px;
  color: #cafaea;
  border: 1px solid #cafaea;
  border-radius: 3px;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}  